body{
    background-image: url(./picstore/needspic/10-lessons-from-a-jigsaw-puzzle-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#htitle{
    font-family: 'Bungee Shade', sans-serif;
    color: chocolate;
    font-size: 80px;
    position: relative;
    margin-left: 700px;
}
#guidance{
    position: relative;
    margin-left: 730px;
    margin-bottom: 10px ;
}
#img1, #img2, #img3{
    width: 200px;
    height: 200px;
    display: inline-block;
    cursor: pointer;
}
#img1:hover, #img2:hover, #img3:hover{
    transform: scale(1.5);
}
#choosepic{
    position: relative;
    margin-left: 730px;
}